html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

a {
  color: #fff;
  text-decoration: none;
}
.scroller {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  ul {
    list-style: circle;
    width: 400px;
    display: flex;
    justify-content: space-around;
    color: #fff;

    li {
      font-size: 27px;
      cursor: pointer;
      &.active {
        list-style: disc;
      }
    }
  }
}
.close-btn {
  display: none;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  top: 5%;
  right: 5%;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
  }
}
.fixed-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#overlay {
  display: block;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  transition: all 1s ease-in-out;
}
.scroll-container {
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100%;
}
.full-descr {
  .content {
    z-index: 2;
    position: relative;
    width: 100% !important;
    align-items: center !important;
    .descr-wrapper {
      flex-direction: column;
      align-items: center;
      width: auto !important;
      h3 {
        text-align: center !important;
      }
      .descr {
        text-align: left !important;

        max-width: 800px !important;
        margin-top: 20px;
        &:hover {
          cursor: text !important;
          background-color: transparent !important;
          transform: none !important;
        }
      }
      .descr-text {
        display: block !important;
        line-height: 1.4em !important;
      }
    }
    .map {
      display: block!important;
    }
  }
}
.section {
  scroll-snap-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  font-family: "Cinzel Decorative", cursive;
  color: #fff;
  transition: all 1s ease-in-out;
  .content {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        line-height: 20px;
        padding: 0 10px;
        font-size: 24pt;
        border-left: #fff solid 1px;
      }

      li:nth-child(1) {
        border-left: none;
      }
    }
    hr {
      color: #fff;
      margin: 25px 0;
    }
  }
}
#section-1 {
  background-image: url("../img/sec1-bg.jpg");

  .content {
    display: flex;
    align-items: center;
    padding: 50px 20px;
    h1 {
      font-size: 292pt;
      line-height: 233pt;
    }
    h3 {
      text-align: center;
      font-size: 48pt;
    }
  }
}
#section-2 {
  background-image: url("../img/sec2-bg.jpg");
  .content {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px 20px;
    .descr-wrapper {
      display: flex;
      width: 100%;
    }
    .descr {
      max-width: 450px;
      text-align: right;
      transition: all 0.5s ease-in-out;
      padding: 15px 15px 15px 0;
      border-radius: 25px;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translateX(-15px);
      }
    }
    ul {
      border-top: #fff solid 1px;
      padding-top: 20px;
      flex: 1;
    }
    h1 {
      font-size: 120pt;
      line-height: 135pt;
    }
    h3 {
      text-align: right;
      font-size: 48pt;
      margin-bottom: 15px;
    }
    .descr-text {
      font-size: 18pt;
      line-height: 21pt;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .map {
      display: none;
      border-radius: 15px;
      overflow: hidden;
      margin-top: 15px;
    }
  }
}
#section-3 {
  background-image: url("../img/sec3-bg.jpg");
}
#section-4 {
  background-image: url("../img/sec4-bg.jpg");
}
#section-5 {
  background-image: url("../img/sec5-bg.jpg");
}
#section-6 {
  background-image: url("../img/sec6-bg.jpg");
}
#section-7 {
  background-image: url("../img/about-bg.jpg");
}
